version: "3.8"

services:
  server:
    build:
      context: ./server
    container_name: communication-protocols-server
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production

  client:
    build:
      context: ./client
    container_name: communication-protocols-client
    ports:
      - "8080:80"
    depends_on:
      - server
